#
# Copyright (C) 2025-present by TheAloneTeam@Github, < https://github.com/TheAloneTeam >.
#
# This file is part of < https://github.com/TheAloneTeam/KartikMusic > project,
# and is released under the "MIT License".
# Please see < https://github.com/TheAloneTeam/KartikMusic/blob/master/LICENSE >
#
# All rights reserved.
#

.env
.cache
*.txt
.idea
.DS_Store
.venv/
venv/
cache/
downloads/
__pycache__/
KartikMusic/cookies/*.txt
*.session
*.session-journal
